  body{
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-image: url(Images/background.jpg) 
  }
  
  
  .nav{
    overflow: hidden;
    background:  #181612;
    margin-top: -5px;
  }

  .nav a{
   float:left;
   color: #f2f2f2;
   text-align: center;
   width: 100px;
   text-decoration: none;
   font-weight: bold;
   text-transform: uppercase;
   padding: 20px 16px;
   align-items: center;
  }

  .nav a:hover{
   background: #ff4500; 
  }

  .nav a.active{
    background: #e31c04;
  }
  .text{
    color:white;
    font-size: large;
    font-weight: bold;
  }

  .container{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
  }
  .dante-about h2{
    padding-left: 20%;
  }
  .dante-about p{
    width: 50%;
  }
  .dante-about{   
    
    color:#f2f2f2;
    font-weight:bold;
    font-size: large;
  }
 
  .dantepic img{
    width: 400px; 
    height: 600px;  
 }
 
 .ryan-about h2{
    padding-left: 30%; 
 }
 .ryan-about{
  float:left;
  color:#f2f2f2;
  font-weight:bold;
  font-size: large;
 }
 .ryanpic img{
   width:400px;
   height:600px;
 }
 /*episodes page style */
/*YouTube iframes*/
  .rainey iframe{
    float:left;
    margin:0 auto;
   padding:20px;
  }
  .miletich iframe{
    padding-left: 800px;
  } 
  .hughes iframe{
    float:left;
    margin:0 auto;
    padding:20px; 
  }
  .fleury iframe{
    padding-left:800px;
  }  
  /* episodes paragraph styles */
 .rainey p{
   color:white;
   font-weight: bold;
   font-size:x-large;
   width:800px;
   padding-left:550px;      
 }
 .miletich p{
   color:white;
   font-weight: bold;
   font-size:x-large; 
   width:600px;  
 }
 .hughes p{
  color:white;
  font-weight: bold;
  font-size:x-large; 
  width:800px;
  padding-left:550px;

 }
 
 .fleury{
  color:white;
  font-weight: bold;
  font-size:x-large;
  width:600px;
 }
 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
