  img{
    max-width:100%;
    height: auto;
    display:flex;
  }
  .header img{
    min-width: 100%;
  }
/*added max width to iframes for mobile response issues*/
  iframe{
    max-width: 100%;
    min-width: 30%;
  }
 /*INDEX CSS*/
  body{
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-image: url(Images/background.png) 
  }
  .nav{
    overflow: hidden;
    background:  #181612;    
    display: flex;
    max-width: 100%;  
  }
  .nav a{
   color: #f2f2f2;
   text-align: center;
   width: 45%;
   text-decoration: none;
   font-weight: bold;
   text-transform: uppercase;
   padding: 10px 12px;
   align-items: center;
  }
  .nav a:hover{
   background: #ff4500; 
   cursor: pointer;
   transition: all 1s ease-in-out;
  }
  .nav a.active{
    background: #e31c04;
  } 
  /*=====================================================*/
  .aboutpodcast h2{
    color:#f2f2f2;
    font-weight:bold;
    display: flex;
    position: relative;
    display: table;
    margin: 0 auto;   
  }
  .aboutpodcast p{
    color:#f2f2f2;
   font-weight:bold;
   font-size:x-large; 
   position:relative;
   padding-left:25%;
   width:50%;
   padding-bottom:10%;          
  } 
   .yella iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    padding-top: 1%;
    border-width: 0px;
  }
  .featured h2{
    color:#f2f2f2;
    font-weight:bold;
    display: flex;
    display: table;
    margin: 0 auto;
    padding-top:5%;
    padding-bottom:5%;
  }
  .yella h2{
    color:#f2f2f2;
    font-weight:bold;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  .yella p{
   color:#f2f2f2;
   font-weight:bold;
   font-size:x-large; 
   position:relative;
   padding-left:25%;
   width:50%;
   padding-bottom:5%;
  }
  .allen iframe{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width:50%;
   padding-top: 1%;
   border-width: 0px;
  }
  .allen h2{
    color:#f2f2f2;
    font-weight:bold;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  .allen p{
   color:#f2f2f2;
   font-weight:bold;
   font-size:x-large; 
   position:relative;
   padding-left:25%;
   width:50%;
   padding-bottom:10%;  
  }
/*made a flex container for Dante and Ryan about*/
  .flex-container2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height:auto;
    width: auto;
    justify-content: space-between;
    padding: 5%;
    color: white;
 }
  .dante-about{
    flex:1;
  }  
  .dante-about h2{
   position: relative;
 }
  .dante-about p{
   width:60%;
   height: auto;
   font-weight:bold;
   font-size: x-large;
   position: relative; 
 }
  .dantepic img{
   position: relative;
   width:400px; 
   height:600px;  
 }
 .ryan-about{
   flex:1;
 }
 .ryan-about h2{
   position:relative; 
   font:bold;      
 }
 .ryan-about p{
   width:60%;
   height:auto;
   font-weight:bold;
   font-size: x-large;
   position:relative;
   }
 .ryanpic img{
   width:400px;
   height:600px;
   position:relative;
   padding-top: 2%;
 }
  footer{
   color:#f2f2f2;  
   text-align: center;
  }

 /*episodes page style */

/*YouTube iframes*/
/*decided to make iframes vertical above one another, instead of left to right. After playing around with it, I find this way will look better. Although I am having problems aligning Iframe to the paragraph description*/


/*created container in row to include all episodes and descriptions*/
.iframes-container {
    flex:10;
    display: flex;
    position:relative; 
    font:bold;  
    justify-content: center;  
}
.iframes-container{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   height:auto;
   width: auto;
   justify-content:space-around;
   padding: 10%;
   gap: 50px;
   color: white;
   flex:10;
   display: flex;
   position:relative; 
   font:bold;  
   justify-content: center;  
 }
  .iframes-container p{
    font-size:x-large;
    width:40%;  
}

 /*++++++++++++++STORE CSS STARTS HERE++++++++++++++++++*/

 .shirt img{
   max-width:100%;
   height: auto;
   display: table;
   margin: 0 auto;
   padding-top: 5%;  
 }
 .shirt h2{
   padding-top:5%;
   color:white;
   font-weight: bold;
   max-width:100%;
   height: auto;
   display: table;
   margin: 0 auto;
 }
 .shirt p{
   color:white;
   font-weight: bold;
   font-size:x-large;
   width:800px;
   padding-left:550px;
 }
 .shirt a{
    color:#ff4500;
    font-weight: bold;
 }
 /*store form structure+++++++++++++++++++++*/
 .store-form {
  border-radius:  5px;
  background-color:whitesmoke;
  padding: 3%;
  max-width:50%;
  margin: auto;
  margin-top: 10%;
}

 /*CONTACTS PAGE CSS STARTS HERE*/
 .contact h1{
   color:white;
   font-weight: bold;
   font-size:x-large;
   width:800px;
   padding-left:800px;
}
 .contact p{
   color:white;
   font-weight: bold;
   font-size:x-large;
   width:800px;
   padding-left:550px;
 }
 .contact a{
   color:#ff4500;
   font-weight: bold;
 }
 /*form contact buttons start here =======================*/
 input[type="reset"] {
  color: #0e7a0d;
  padding: 12px 20px;
  border: 1px solid #0e7a0d;
  border-radius: 4px;
  cursor: pointer;
  transition:all 0.4s ease-in-out;
}
input[type="reset"]:hover {
   background-color: #d1efe3;
}
input[type="submit"] {
   background-color: #0e7a0d;
   color: white;
   padding: 12px 20px;
   border: 1px solid #0e7a0d;
   border-radius: 4px;
   cursor: pointer;
   transition:all 0.4s ease-in-out;
}
input[type="submit"]:hover {
   background-color: #00ab66;
}
/*form structure starts here=============================*/
.contact-form {
  border-radius: 5px;
  background-color:whitesmoke;
  padding: 3%;
  max-width:50%;
  margin: auto;
  margin-top: 10%;
}
.wrapper-button {
  display: flex;
  justify-content: space-between;
}
/*form controls start here=============================*/
input, select, textarea{
   font-size: 1em;
}
input[type="text"],
textarea {
   width: 50%;
   padding: 13px;
   border: 1px solid #ccc;
   border-radius: 4px;
   margin-top: 6px;
   margin-bottom: 16px;
   resize: vertical; 
}
input[type="email"] {
   width: 50%;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 4px;
   margin-top: 6px;
   margin-bottom: 16px;
   resize: vertical;
}
select {
   width: 20%;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 4px;
   margin-top: 6px;
   margin-bottom: 16px;
   resize: vertical;
}
textarea {
   font-family: sans-serif;
}
fieldset {
   margin-bottom: 16px;
   border: 1px solid #ccc;
}
.label-required {
   font-size: 0.8rem;
   color: red;
}
   
/*+++++++++responsive CSS starts here+++++++++++++++++++*/ 
  @media only screen and (max-width: 800px) {
    
    img{
      max-width:100%;
      height: auto;
      display:flex;
    }
    /*added max width to iframes for mobile response issues++ */
 
    /*INDEX CSS*/
      body{
        margin: 0;
        padding: 0;
        font-family: Arial;
        background-image: url(Images/background.png) 
      }
      .nav{
        overflow: hidden;
        background:  #181612; 
        display: flex;
        width: 100%;       
      }
      .nav a{
       color: #f2f2f2;
       text-align: center;
       width: 45%;
       text-decoration: none;
       font-weight: bold;
       text-transform: uppercase;
       padding: 5px 5px;
       align-items: center;
      }
      /*=====================================================*/
      .aboutpodcast h2{
        color:#f2f2f2;
        font-weight:bold;
        font-size: small;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;       
      }
      .aboutpodcast p{
       color:#f2f2f2;
       font-weight:bold;
       font-size:small; 
       position:relative;
       padding-left:25%;
       width:50%;
       padding-bottom:10%;  
            
      }
        .yella iframe{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:80%;
        height: 100%;
        padding-top: 1%;
        border-width: 0px;
      }
      .featured h2{
        font-size:large;
        color:#f2f2f2;
        font-weight:bold;
        display: flex;
        display: table;
        margin: 0 auto;        
        padding-top:5%;
        padding-bottom:5%;
      }
       .yella h2{
        font-size: medium;
        color:#f2f2f2;
        font-weight:bold;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
    }
      .yella p{
       color:#f2f2f2;
       font-weight:bold;
       font-size:small; 
       position:relative;
       padding-left:25%;
       width:50%;
       padding-bottom:5%;
    }
      .allen iframe{
       display: block;
       margin-left: auto;
       margin-right: auto;
       width:80%;
       height:40%;
       padding-top: 1%;
       border-width: 0px;
    }
      .allen h2{
        font-size: medium;
        color:#f2f2f2;
        font-weight:bold;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
    }
      .allen p{
       color:#f2f2f2;
       font-weight:bold;
       font-size:small; 
       position:relative;
       padding-left:25%;
       width:50%;
       padding-bottom:10%;  
      }
    /*made a flex container for Dante and Ryan about*/
      .flex-container2{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        height:auto;
        width: auto;
        justify-content: space-between;
        padding: 5%;
        color: white;
     }
      .dante-about{
        flex:1;
      }  
      .dante-about h2{
        font-size: medium;
       position: relative;
     }
      .dante-about p{
       width:60%;
       height: auto;
       font-weight:bold;
       font-size: small;
       position: relative; 
     }
      .dantepic img{
       position: relative;
       width:200px; 
       height:300px;  
     }
     .ryan-about{
       flex:1;
     }
     .ryan-about h2{
       font-size: medium;
       position:relative; 
       font:bold;      
     }
     .ryan-about p{
       width:60%;
       height:auto;
       font-weight:bold;
       font-size: small;
       position:relative;
     }
     .ryanpic img{
       width:200px;
       height:300px;
       position:relative;
       padding-left: 5%;
       padding-top:57%;
     }
    footer{
       color:#f2f2f2;
       text-align: center;
       font-size: small;
       
    }
    
     /*++++++++++++episodes page style++++++++++++++++ */
        
    .iframes-container h2{
      flex:10;
      display: flex;
      position:relative; 
      font:bold;  
      justify-content: center;
      
    }
    .iframes-container{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      height:auto;
      width: auto;
      justify-content:space-around;
      padding: 10%;
      gap: 50px;
      color: white;
      }
      .iframes-container p{
        font-size:small;
        width:70%;
       
      }

     .shirt img{
       
       max-width:50%;
       height: auto;
       display: table;
       margin: 0 auto;
       padding-top: 5%;
             
     }
     .shirt h2{
       font-size:medium;
       padding-top:5%;
       color:white;
       font-weight: bold;
       max-width:100%;
       height: auto;
       display: table;
       margin: 0 auto;
     }

     /*store form structure+++++++++++++++++++++*/
     .store-form {
      border-radius: 5px;
      background-color:whitesmoke;
      padding: 3%;
      max-width:80%;
      margin: auto;
      margin-top: 10%;
    }
    
     /*CONTACTS PAGE CSS STARTS HERE*/
     .contact h1{
      color:white;
      font-weight: bold;
      font-size:x-large;
      width:800px;
      padding-left:800px;
     }
     .contact p{
       color:white;
       font-weight: bold;
       font-size:x-large;
       width:800px;
       padding-left:550px;
     }
     .contact a{
       color:#ff4500;
       font-weight: bold;
     }
    }  
    /*screens below 300px were not responding well so I added this*/
    @media only screen and (max-width: 300px) {   
      .nav a{
        color: #f2f2f2;
        text-align: center;
        width: 45%;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        padding: 1px 1px;
        align-items: center; 
      }
      .featured h2{
        font-size:medium;
        color:#f2f2f2;
        font-weight:bold;
        display: flex;
        display: table;
        margin: 0 auto;        
        padding-top:5%;
        padding-bottom:5%; 
      }  
      .yella h2{
        font-size: small;
      }
      .allen h2{
        font-size: small;
      }
      .shirt h2{
        padding-top:5%;
        font-size: small;
        color:white;
        font-weight: bold;
        max-width:100%;
        height: auto;
        display: table;
        margin: 0 auto;
      }
      .store-form {
        border-radius:  5px;
        background-color:whitesmoke;
        padding: 3%;
        max-width:80%;
        margin: auto;
        margin-top: 10%;
      }
     
  
}
