  /*INDEX CSS*/
  body{
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-image: url(Images/background.jpg) 
  }
  .nav{
    overflow: hidden;
    background:  #181612;
    margin-top: -5px;
  }
  .nav a{
   float:left;
   color: #f2f2f2;
   text-align: center;
   width: 100px;
   text-decoration: none;
   font-weight: bold;
   text-transform: uppercase;
   padding: 20px 16px;
   align-items: center;
  }
  .nav a:hover{
   background: #ff4500; 
  }
  .nav a.active{
    background: #e31c04;
  } 
  .aboutpodcast h1{
    color:white;
    position: relative;
    padding-top: 80px;
    padding-left: 550px;
  }
  .aboutpodcast p{
    color:#f2f2f2;
    font-weight:bold;
    font-size:x-large;  
    width:50%;
    position: relative;
    padding-left: 480px;
  }
  .yella iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50;
    padding-top: 10%;
  }
.latest h1{
   color:#f2f2f2;
   font-weight:bold;
   position: relative;
   padding-left: 800px;
  }
.latest h2{
   color:#f2f2f2;
   font-weight:bold;
   position: relative;
   padding-left: 875px;
}
.latest p{
   color:#f2f2f2;
   font-weight:bold;
   font-size:x-large; 
   position:relative;
   padding-left:480px;
   width:50%;
   padding-bottom:100px;
}
/*made a container for about Dante and Ryan*/
  .container{
   display:flex;
   justify-content: space-around;
   flex-wrap:wrap;   
  }
  .dante-about h2{
    padding-left:250px;
    padding-top:200px;
    position: relative;
  }
  .dante-about p{
    width: 40%;
    padding-bottom:10px;
  }
  .dante-about{    
    color:#f2f2f2;
    font-weight:bold;
    font-size: x-large;
    position: relative;
    padding-left: 40px;
  }
  .dantepic img{
    width: 400px; 
    height: 600px;  
    position:relative;
    padding-top:5px;
    
 }
 .ryan-about h2{
    padding-left: 30%; 
 }
 .ryan-about{
   width:40%;
   color:#f2f2f2;
   font-weight:bold;
   font-size: x-large;
 }
 .ryanpic img{
   width:400px;
   height:600px;
 }
footer{
  color:#f2f2f2;
}

 /*episodes page style */
/*YouTube iframes*/
/*decided to make iframes vertical above one another, instead of left to right. After playing around with it, I find this way will look better. Although I am having problems aligning Iframe to the paragraph description*/
  .rainey iframe{
    position:relative;
    float:left;
    margin:0 auto;
   padding:20px;
  }
  .miletich iframe{
    position:relative;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 900px;
  } 
  .hughes iframe{
    
    position: relative;
    padding-left:20px; 
    padding-top:0px;
  }
  .fleury iframe{
    padding-left:20px;
  }  
  /* episodes paragraph styles */
  
 .rainey p{
   color:white;
   font-weight: bold;
   font-size:x-large;
   width:800px;
   padding-left:550px;   
   padding-top: 20px;   
 }
 .miletich p{
   color:white;
   float:inline-start;
   font-weight: bold;
   font-size:x-large; 
   padding-bottom: 500px;
   width:800px; 
   padding-left:600px; 
 }
 .hughes p{
   color:white;
   font-weight: bold;
   font-size:x-large; 
   width:800px;
   padding-left:550px;

 }
 
 .fleury p{
   position: relative;
   color:white;
   font-weight: bold;
   font-size:x-large;
   width:800px;
   padding-left:550px;
 }
 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
